<template>
  <div class="container">
    <Header/>
    <div class="page-wraper">
      <Sidebar/>
      <div class="home-page">
        <h2 v-if="isLogin">Login!</h2>
        <h2 v-else>Logout!</h2>
      </div>
    </div>
  </div>
</template>

<script>
import Sidebar from "@/views/Sidebar";
import Header from "@/views/Header";
import {mapGetters} from 'vuex'

export default {
  name: 'Home',
  components: {
    Header,
    Sidebar,
  },
  computed: {
    ...mapGetters(['isLogin'])
  }
}
</script>

<style>

</style>
