<template>
  <aside class="sidebar">
    <h2>Sidebar</h2>
  </aside>
</template>

<script>
export default {
  name: 'Sidebar'
}
</script>

<style lang="scss" scoped>
.sidebar {
  position: relative;
  width: 20vw;
  height: 100%;
  border-right: solid 1px rgba(#727272, .1);
  box-shadow: 0 0 16px rgba(#727272, .1);
  z-index: 11;
  background: #FFFFFF;
}
</style>
