<template>
  <form class="login-container" @submit.prevent="handleSubmit">
    <h3>Login</h3>
    <div class="form-group">
      <label class="form-label">Email</label>
      <input
          type="email"
          class="form-control"
          placeholder="Email"
          v-model="email"
      >
    </div>
    <div class="form-group">
      <label class="form-label">Password</label>
      <input
          type="password"
          class="form-control"
          placeholder="Password"
          v-model="password"
      >
    </div>
    <button class="button">Login</button>
  </form>
</template>

<script>
import axios from 'axios'

export default {
  name: "Login",
  data() {
    return {
      email: '',
      password: '',
    }
  },
  methods: {
    async handleSubmit() {

      /*const response = await axios.post('login',{
        email: this.email,
        password: this.password
      })*/
      this.$store.dispatch('isLogin', true)
      this.$router.push('/')
    }
  }
}
</script>

<style scoped lang="scss">

</style>