<template>
  <div class="nav">
    <nav class="navbar">
      <div class="nav-container">
        <router-link to="/" class="nav-brand">Home</router-link>
        <div class="navbar-list">
          <ul class="navbar-nav">
            <li v-if="!isLogin" class="navbar-item">
              <router-link to="/login" class="nav-link">Login</router-link>
            </li>
            <li v-if="isLogin" class="navbar-item" @click="handleClick"
            >
              <router-link to="/" class="nav-link">Logout</router-link>
            </li>
            <li v-if="!isLogin" class="navbar-item">
              <router-link to="/register" class="nav-link">Sign up</router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
  name: "Nav",
  methods:{
    handleClick(){
      this.$store.dispatch('isLogin',false)
    }
  },
  computed: {
    ...mapGetters(['isLogin'])
  }
}
</script>

<style lang="scss">
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  width: 80%;
  margin: 0 auto;
}

.navbar-nav {
  display: flex;
}
.navbar-item{
  margin-left: 20px;
}
</style>
