<template>
  <form class="register-container" @submit.prevent="handleSubmit">
    <h3>Sign Up</h3>

    <div class="form-group">
      <label class="form-label">First Name</label>
      <input
          type="text"
          class="form-control"
          placeholder="First Name"
          v-model="firstName"
      >
    </div>

    <div class="form-group">
      <label class="form-label">Last Name</label>
      <input
          type="text"
          class="form-control"
          placeholder="Last Name"
          v-model="lastName"
      >
    </div>

    <div class="form-group">
      <label class="form-label">Email</label>
      <input
          type="email"
          class="form-control"
          placeholder="Email"
          v-model="email"
      >
    </div>

    <div class="form-group">
      <label class="form-label">Password</label>
      <input
          type="password"
          class="form-control"
          placeholder="Password"
          v-model="password"
      >
    </div>

    <div class="form-group">
      <label class="form-label">Confirm Password</label>
      <input
          type="password"
          class="form-control"
          placeholder="Confirm Password"
          v-model="confirmPassword"
      >
    </div>

    <button class="button">Sign Up</button>
  </form>
</template>

<script>
import axios from 'axios'
export default {
  name: "Register",
  data() {
    return {
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      confirmPassword: '',
    }
  },
  methods: {
    async handleSubmit() {

      /*const response = await axios.post('register',{
          firstName:this.firstName,
          lastName:this.lastName,
          email:this.email,
          password:this.password,
          confirmPassword:this.confirmPassword
    })*/

      this.$router.push('/login')
    }
  }
}
</script>

<style scoped>

</style>