.container{
}
.login-container,
.register-container {
  width: 30%;
  margin: 70px auto 0;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: #f1efef;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-label {
  display: none
}

.form-control {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: solid 1px rgba(114, 114, 114, 0.4);
  border-radius: 4px;
  box-sizing: border-box;
  &::placeholder{
    opacity: 0.3;
  }

  &:focus-visible {
    outline: 1px solid darkgray;
  }
}
.page-wraper{
  display: flex;
  height: 100vh;
}
.home-page{
  width: 80vw;
}
.button {
  align-self: end;
  background: darkgray;
  margin-top: 15px;
  color: #FFFFFF;
  border: solid 1px rgba(114, 114, 114, 0.4);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px 10px;

  &:hover {
    background-color: gray;
    transition: 0.2s;
  }
}